/* tipografía */
.body {
    font-family: 'Roboto', sans-serif;
}

/* iconos */

.icono {
    color: white;
}

/* imagenes */
.imgtarj {
    height: 200px;
    width: 300px;
}

.imglogo {
    height: 40px;
    width: 40px;
} 